@import '../../../../../styles/mixins.scss';

.stage-component {
	&__media {
		margin-bottom: 12px;

		img {
			max-width: 60%;
			margin-bottom: 8px;
		}

		&-description {
			font-weight: 600;
			font-size: 20px;
			white-space: pre-wrap;
			word-break: break-word;
		}
	}
}
