@import '../../../styles/size.scss';

.stage {
	width: 100%;
	height: $stage-height;
	margin: 0 auto;
	overflow-y: auto;
	scroll-behavior: smooth;

	&__container {
		padding: 0 30px;
	}

	@media (max-width: #{$min-checkpoint}) {
		height: $stage-height-min;

		.stage__container {
			padding: 0 15px 0 0;
		}
	}
}