@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';
@import '../../styles/size.scss';

.environment {
	padding: 12px 14px 12px 14px;

	&__input-container {
		display: flex;
		align-items: center;
		margin-bottom: 14px;

		:first-child {
			width: 40%;
		}

		:last-child {
			width: 57%;
			margin: 0;
		}
	}

	&__input {
		@include base-input;
	}

	&__divider {
		display: flex;
		justify-content: center;
		font-size: 30px;
		width: 3%;
	}

	&__table {
		display: flex;
		flex-direction: column;
		width: 100%;
		font-size: 18px;
		background: $light-grey;
		border-radius: 8px;

		&--wrapper {
			max-height: 339px;
			margin-bottom: 8px;
			overflow-y: auto;
		}

		&-row {
			display: flex;

			&:not(:last-child) {
				border-bottom: 1px dashed $grey;
			}
		}

		&-col {
			width: 58%;
			padding: 4px 7px 4px 6px;
			word-wrap: break-word; 

			&--title {
				width: 39%;
				font-weight: 600;
				padding: 4px 6px 4px 7px;
				border-right: 1px dashed $grey;
			}

			&--cancel {
				display: flex;
				justify-content: center;
				width: 3%;
				padding: 11px 0 0 0;
				border-right: 1px dashed $grey;

				.cancel-icon {
					@include cancel-button-effects($red);

					&:hover {
						path {
							stroke: $red;
						}
					}
				
					&:active {
						path {
							stroke: darken($red, 10%);
						}
					}
				}
			}

			&--clickable {
				cursor: pointer;
				transition: .2s color;

				&:hover {
					color: $dark-green;
				}

				&:active {
					color: $green;
				}
			}
		}
	}

	&__image {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 20px;

		&--flex-container {
			display: flex;
			align-items: center;
			margin-bottom: 20px;
		}

		img {
			max-width: 120px;
			max-height: 120px;
			margin-right: 30px;

			@media (max-width: #{$mobile-checkpoint}) {
				display: none;
			}
		}

		&-text {
			font-weight: 600;
			font-size: 20px;
			text-align: center;

			&:not(:last-child) {
				margin-bottom: 8px;
			}

			&--warning {
				color: $warning;
			}
		}
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	&__copied-indicator {
		visibility: visible;
		opacity: 0;
		color: $green;
		transition: .2s opacity;

		&--visible {
			visibility: visible;
			opacity: 1;
		}
	}

	&__submit-button {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 36px;
		width: 180px;
		font-weight: 600;
		font-size: 16px;
		color: $white;
		border-radius: 12px;
		background-color: $dark-green;
		user-select: none;
		
		@include light-button-effects($dark-green, $white);
	}
}
