@import '../../../../../styles/colors.scss';

.stage-component {
	&__confirm-input-container {
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
	}

	&__confirm-input-label {
		margin-bottom: 12px;
		font-weight: 600;
		font-size: 20px;
		word-break: break-word;
	}

	&__confirm-input-button {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 36px;
		margin-bottom: 6px;
		font-weight: 600;
		font-size: 16px;
		color: $dark-green;
		border: 1px solid $dark-green;
		border-radius: 8px;
		background-color: $white;
		user-select: none;
		cursor: pointer;
		transition: color .2s, background-color .2s;

		&:hover {
			color: $white;
			background-color: $dark-green;
		}

		&--decline {
			color: $red;
			border-color: $red;

			&:hover {
				color: $white;
				background-color: $red;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}