$blue: #0F8CFF;
$light-blue: #50ABFF;
$dark-blue: #5287C3;

$green: #0D9F1C;
$dark-green: #719E64;

$black: #303030;
$dark-black: #000000;

$grey: #6F6F6F;
$light-grey: #FAFAFA;
$dark-grey: #F3F3F3;

$white: #FFFFFF;
$red: #D20808;
$warning: #eeb200;
$searchbar-border-color: #9B9B9B;
$table-background-color: $light-grey;
$table-border-color: $grey;
$table-input-color: #9B9B9B;
$cancel-color: #BABABA;
