@import './normalize.scss';
@import './mixins.scss';

* {
	font-family: Montserrat, sans-serif;
	box-sizing: border-box;
}

h1 {
	margin: 0;
}

a {
	box-sizing: border-box;
	color: inherit;
	text-decoration: none;

	&:hover, &:active {
		color: inherit;
		text-decoration: none;
	}
}

.with-custom-scrollbar {
	@include custom-scroll-bar;
}
