// utils
$main-wrapper-max-width: 1050px;
$stage-max-width: 850px;
$options-switcher-width: 245px;
$header-height: 36px;
$header-margin: 30px;
$app-side-padding: 10px;
$app-top-padding: 10px;
$debot-controls-margin: 10px;

// checkpoints
$mobile-checkpoint: 470px;
