@import '../../styles/size.scss';
@import '../../styles/mixins.scss';

.debot-embedding {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0 $app-side-padding $app-top-padding;
	font-family: Montserrat, Roboto, Arial, sans-serif;
	overflow-x: hidden;
	scroll-behavior: smooth;
	box-sizing: border-box;

	&--scroll-disabled {
		overflow: hidden;
	}

	&__flex-wrapper {
		display: flex;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		max-width: $main-wrapper-max-width;
		margin: 0 auto;
	}

	* {
		box-sizing: border-box;
	}

	h1 {
		margin: 0;
	}
	
	a {
		box-sizing: border-box;
		color: inherit;
		text-decoration: none;
	
		&:hover, &:active {
			color: inherit;
			text-decoration: none;
		}
	}

	&.with-custom-scrollbar, .with-custom-scrollbar {
		@include custom-scroll-bar;
	}
}
