@import '../../styles/size.scss';
@import '../../styles/colors.scss';

.debot {
	&__controls {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 100%;
		margin-bottom: $debot-controls-margin;

		@media(max-width: #{$mobile-checkpoint}) {
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;
		}
	}

	&__controls-item {
		height: max-content;
		margin-right: 20px;
		font-weight: 600;
		font-size: 18px;
		color: $blue;
		cursor: pointer;
		transition: color .2s;

		&:hover {
			color: $light-blue;
		}

		&:active {
			color: $dark-blue;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}